// ------------------------------------------------------------------
// ** ------------- Header ---------------------------------------**
// ------------------------------------------------------------------

.header-blue {  
    background-color: #32021F;  
    font-family: 'Source Sans Pro', sans-serif
  }
  
  .header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none
  }
  
  
  .header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit
  }    


// ------------------------------------------------------------------
// ** ------------- Login ---------------------------------------**
// ------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  height: 100%;
}

body img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

h1 {
  font-weight: 900;
}

.container{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;

  z-index: 2;
  position: relative;
}

.box{
  width: 400px;
  height: 470px;
  font-size: 16px;
  padding: 40px 40px;
  background: #0F044C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.user{
  margin-top: 50px;
}

.fas{
  position: absolute;
}
input{
  width: 90%;
  margin-bottom: 25px;
  padding: 0px 30px 15px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #141E75;
  outline: none;
  background-color: #0F044C;
  color: #fff;
}
input:focus{
  border-bottom: 1px solid #EEEEEE;
}
.reset-passwod{
  color: #ff7f50;
  text-align: right;
  margin-top: 0px;
  font-size: 12px;
}
.login-btn{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  display: block;
  width: 80%;
  padding: 15px;  
  background-color: #EEEEEE;
  color: #0F044C;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  

.btn:disabled {
  opacity: 0.2;
}

.btn:hover:disabled{
  opacity: 0.2;
}

.btn:hover{
  opacity: 1;
}

.signup{
  margin-top: 30px;
}

.signup span{
  color: #7fb8e6;
}
.signup span:hover{
  color: #3796df;
}

.alert{
  padding-top: 0%;
  margin-top: 0%;
  padding-bottom: 0%;
  color: red;
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;         
    }
    .box {
        width: 100%;
        height: 500px;
      }
}