<ion-content *ngIf="!isLogged">

  <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />

  <!-- NavBar -->  
  <div>
    <div class="header-blue">
        <nav class="navbar navbar-dark">
            <div class="container-fluid"><a class="navbar-brand" href="#">CinemaMe</a>
                <div class="collapse navbar-collapse" id="navcol-1">                                     
                </div>
            </div>
        </nav>
    </div>
  </div>

  <body>
    <div class="container">      
      <div class="box">
        <h1>Sign In</h1>
        <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
          <div class="user">
            <i class="fas fa-envelope"></i>
            <input type="email"  id="email" name="email" placeholder="Email"  required 
              [(ngModel)]="email" #n="ngModel" />  
              
              
            <br><i class="fas fa-unlock-alt"></i>
            <input type="password" name="password" id="password" placeholder="Password" required minlength="4" 
            [(ngModel)]="password" #n2="ngModel" />
             
          </div>
    
          <div class="login-btn">
            <ng-container *ngIf="n.errors?.['required'] || n2.errors?.['required']; else enabled">
              <button class="btn" type="submit" disabled>Log In</button>
            </ng-container>
            <ng-template #enabled>
              <button class="btn" type="submit">Log In</button>          
            </ng-template>

            <p class="signup">Don't have an account? <span><a [routerLink]="['/signup']">Sign Up</a></span></p>
            <span><a style="margin-top: 0%;" [routerLink]="['/home']">Go Back Home</a></span>
          </div>
        </form>  
      </div>
    </div>

    <img src="assets/home/login.png" alt="CinemaMe Entertainment ">
  </body>
</ion-content>
